.THIS {
}

.THIS .navbar {
  overflow: hidden;
}

.THIS .navbar a {
  float: left;
  font-size: 16px;
  color: #000;
  text-align: center;
  padding: 10px 15px 11px 15px;
  text-decoration: none;
}

.THIS .dropdown {
    float: left;
    overflow: hidden;
    /*border: #CCC solid 1px;*/
    border-radius: 5px;
}
.THIS .dropdown .fa {
position: relative;
top: 6px;
float: right;
}

.THIS .dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #000 !important;
  /*padding: 12px 18px;*/
  background-color: #FFF!important;
  font-family: inherit;
  margin: 0;
    min-width: 250px;
    text-align: left;
}

.THIS .navbar a:hover, .THIS .dropdown:hover .dropbtn {
  background-color: none;
    color: rgb(255, 48, 8) !important;
}

.THIS .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.THIS .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.THIS .dropdown-content a:hover {
  background-color: #eee;
}

.THIS .dropdown:hover .dropdown-content {
  display: block;
}

/*-- Title --*/


.THIS .selection-header {
    display: block;
    padding: 20px 20px 0px 20px;
    text-align: center;
}
.THIS .selection-location {
    display: inline;
}

.THIS .selection-type {
    display: inline;
}

.THIS .selection-title {
    font-weight: 500;
    font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
.THIS  .dropdown {
    margin-top: 22px;
    z-index: 20000;
    }
.THIS .dropdown .dropbtn {
    color: #000 !important;
    padding: 14px 18px;
    }
    
}

@media screen and (max-width: 480px) {

 .THIS .selection-title {
    font-weight: 500;
    font-size: 1.2rem;
        line-height: 1.4rem;
}   
    
.THIS .selection-header {
    display: block;
    padding: 10px 10px 0px 10px;
    text-align: center;
}
    
.THIS  .dropdown {
    margin-top: 22px;
    z-index: 20000;
    }
.THIS .dropdown .dropbtn {
    font-size: 14px;
    color: #000 !important;
    padding: 8px 18px;
    }
    
}