.THIS {
	max-width: 1160px;
	margin: 0px auto;
    position: relative;
}

.THIS .ddhs-select-logo {
    max-width: 125px;
    margin-left: 0px;
}

.THIS .ddhs-select-logo-wrap {

    padding-bottom: 15px;

}