.THIS {
    max-width: 700px;
    margin: 0 auto;
        font-size: .875rem;
}

.THIS p {
    padding-bottom: 10px;
}


.THIS ul {
    list-style: disc;
    padding-left: 20px;
}

.THIS ul.dd-support-message-left {
    display: inline-block;
        padding-right: 20px;
}

.THIS ul.dd-support-message-right {
    display: inline-block;

}