a {
    color: #484848;
    text-decoration: none;
}
.articleItem {
    white-space: normal;
    font-size: 16px;
    font-weight: bold;
    color: #484848 !important;
    display: inline-block;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 1em;
    width: 100%;
}
.articleItemHover {
    color: rgb(255, 48, 8) !important;
}