:host{
	max-width: 1160px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.ddhs-select-logo-wrap {
    top: 5px;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.ddhs-select-logo-left{
    text-align: left;
}

.ddhs-select-logo-center{
    text-align: center;
}

.ddhs-select-logo-right{
    text-align: right;
}

.ddhs-select-logo {
    width: 180px;
    max-width: 180px;
}

.ddhs-select-icon {
    max-width: 32px;
    display: inline-block;
}